
.btn-add-buy {
    display: flex;
    width: 95%;
    margin-left: 20px;
    margin-top: 80px;
}
.btn-add-to-cart, .btn-buy-now {
    position: relative;
    width: 50%;
    height: 60px;
    background: none;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
.btn-add-to-cart-effect::before {
    position: absolute;
    width: 270%;
    height: 270%;
    content: '';
    background-image: conic-gradient(transparent, transparent, transparent, #ee00ff);
    animation: rotate_border 4s linear infinite;
}
.btn-add-to-cart-effect::after {
    position: absolute;
    width: 270%;
    height: 270%;
    content: '';
    background-image: conic-gradient(transparent, transparent, transparent, #00ccff);
    animation: rotate_border 4s linear infinite;
    animation-delay: -2s;
}
@keyframes rotate_border {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
.btn-buy-now input {
    position: absolute;
    content: '';
    background-color: #0086ff;
    inset: 5px;
    z-index: 5;
    color: white;
    border: 0;
    font-weight: bold;
    font-size: 20px;
}
.btn-add-to-cart input { 
    position: absolute;
    content: '';
    background-color: white;
    inset: 5px;
    z-index: 5;
    color: #0086ff;
    border: 0;
    font-weight: bold;
    font-size: 20px;
}
.tab-content {
    padding: 20px
}

.tab-content div{
    text-align: justify;
}