
.wrapper {
  margin-top: -13px;
  padding: 0 0 0 21px;
  position: relative;
  overflow-x: hidden;
}

.wrapper .tabs-box {
  padding: 10px 0 10px 0px;
  display: flex;
  gap: 12px;
  list-style: none;
  overflow-x: hidden;
  scroll-behavior: smooth;
  margin: 0px;
}
.tabs-box.dragging {
  scroll-behavior: auto;
  cursor: grab;
}
.tabs-box .tab {
  cursor: pointer;
  font-size: 1.18rem;
  white-space: nowrap;
  background: #f5f4fd;
  padding: 15px 15px;
  border-radius: 30px;
  border: 1px solid #d8d5f2;
}
.tabs-box .tab:hover{
  background: #0086ff;
}
.tabs-box.dragging .tab {
  user-select: none;
  pointer-events: none;
}
.tabs-box .tab.active{
  color: #fff;
  border-color: transparent;
  box-shadow: 1px 3px 5px #0086ff;
}


.wrapper-size {
  margin-left: 10px;
  margin-top: -13px;
  padding: 0 0 0 21px;
  position: relative;
  overflow-x: hidden;
}

.wrapper-size .tabs-box-size {
  padding: 10px 0 10px 0px;
  display: flex;
  gap: 12px;
  list-style: none;
  overflow-x: hidden;
  scroll-behavior: smooth;
  margin: 0px;
}
.tabs-box-size.dragging {
  scroll-behavior: auto;
  cursor: grab;
}
.tabs-box-size .tab-size {
  display: flex;
  width: 40px;
  height: 40px;
  cursor: pointer;
  font-size: 1.18rem;
  white-space: nowrap;
  padding: 0px 8px;
  border: 1px solid white;
  color: white;
  align-items: center;
  

}
.tabs-box-size .tab-size:hover{
  background: #0086ff;
}
.tabs-box-size.dragging .tab-size {
  user-select: none;
  pointer-events: none;
}
.tabs-box-size .tab-size.active-size{
  border-color: transparent;
  box-shadow: 1px 3px 5px #0086ff;
}
.tabs-box-size a {
  text-decoration: none;
}
