body { 
    background: rgb(222, 222, 222);
}
section {
	overflow-y: scroll;
	width: 100% !important;
	padding: 0 10px !important;
}

section::-webkit-scrollbar {
  width: 15px;
}

/* Track */
section::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}
 
/* Handle */
section::-webkit-scrollbar-thumb {
  background: #999; 
  border-radius: 10px;
}

/* Handle on hover */
section::-webkit-scrollbar-thumb:hover {
  background: #16222d; 
}
.section-dashboard { 
	border: 0 !important;
}

.chart-table {
    display: flex;
    margin-top: 25px;
}
.chart-table {
    flex-wrap: wrap;
}
.dashboard-col {
    width: 100%;
    min-width: 257px;
    height: 150px;
    border-radius: 15px;
    background-color: white;
    margin-top: 20px;
    margin-right: 13px;
    margin-left: 12px;
}

.dashboard-row-1 {
    display: flex;
    justify-content: space-between;
    margin: 0 20px;
}
.dashboard-col-icon {
    display: flex;
    max-width: 64px;
    min-width: 64px;
    min-height: 64px;
    max-height: 64px;
    text-align: center;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    margin-top: -20px;
    background-image: linear-gradient(195deg,#6bb1ee,#1a73e8);
    box-shadow: 0 4px 20px 0 rgba(0,0,0,.14),0 7px 10px -5px rgba(64,64,64,.4) !important;
}
.icon-order {
    background-image: linear-gradient(195deg,#84c687,#43a047);
    box-shadow: 0 4px 20px 0 rgba(0,0,0,.14),0 7px 10px -5px rgba(64,64,64,.4) !important;
}
.icon-customer {
    background-image: linear-gradient(195deg,#de6b92,#d81b60) !important;
    box-shadow: 0 4px 20px 0 rgba(0,0,0,.14),0 7px 10px -5px rgba(64,64,64,.4) !important;
}
.icon-revenue {
    background-image: linear-gradient(195deg,#42424a,#191919);
    box-shadow: 0 4px 20px 0 rgba(0,0,0,.14),0 7px 10px -5px rgba(64,64,64,.4) !important;
}
.wrapper-icon {
    width: 37%;
}
.wrapper-icon img {
    width: 100%;
}

.dashboard-row-title p {
    color: #666;
    margin-bottom: 0;
    margin-top: 12px;
}
.dashboard-row-parameter p {
    color: black;
    font-size: 28px;
    font-weight: bold;
    margin: 5px 0 10px 0;
    float: right;
}
hr.shadow-hr {
    background-image: linear-gradient(90deg,transparent,rgba(0,0,0,.3),transparent);
    background-color: transparent;
    height: 1.8px;
    border: 0;
    opacity: .3;
}
.chart-col hr.shadow-hr {
    background-image: linear-gradient(90deg,transparent,rgba(0,0,0,.3),transparent);
    background-color: transparent;
    height: 1.8px;
    border: 0;
    opacity: .5;
}
.dashboard-row-2 {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 14px;
}
.compare {
    font-size: 14px;
}
span.green {
    color: #4caf50;
    font-size: 16px;
}
span.green {
    color: #4caf50;
    font-size: 16px;
}
span.red {
    color: #f44335 !important;
    font-size: 16px;
}
.chart-col {
    flex: 1 1 290px;
    width: 30%;
    min-width: 300px;
    height: 312px;
    border-radius: 13px;
    background: white;
    margin-top: 25px;
    margin-right: 13px;
    margin-left: 12px;
    padding: 0 20px;
    margin-bottom: 25px;
}
.chart-row {
    width: 100%;
    border-radius: 10px;
    background-image: linear-gradient(195deg, #e35e8b 0%, #D81B60 100%);
    box-shadow: 0 4px 20px 0 rgba(0,0,0,.14),0 7px 10px -5px rgba(64,64,64,.4) !important;
    margin-top: -30px;
}
.color-green {
    background-image: linear-gradient(195deg,#63cf68,#43a047);
}
.color-black {
    background-image: linear-gradient(195deg,#42424a,#191919);
}
.chart {
    padding: 15px 10px 10px 0;
}
.text-row {
    margin-top: 30px;
}
.content p {
    margin: 1px 0 15px 0;
    color: #666;
    font-size: 14px;
}

.schedule {
    display: flex;
    align-items: center;
    margin-top: 14px;
}
.schedule-img{
    width: 14px;
    height: 14px;
    margin-top: -7px;
}
.title-row p {
    color: black;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 0;
}


.schedule-img img{
    width: 100%;
}
.schedule p{
    color: #666;
    margin: 0;
    margin-left: 5px;
    font-size: 14px;
}
.chart-row-1 {
    margin-left: 12px;
    margin-right: 12px;
}

.infor-table {
    margin-left: 12px;
    height: 527px;
    padding-bottom: 60px;
}
.table-row {
    width: 100%;
    display: flex;
    height: 100%;
}
.table-col.col2 {
    width: 65.2%;
    background: white;
    border-radius: 12px;
}
.table-col.col1 {
    width: 31.7%;
    margin-left: 25px;
    background: white;
    margin-right: 13px;
    border-radius: 12px;
}
canvas#myChart {
	display: block;
    box-sizing: border-box;
    width: 100%;
    margin-top: 10px;	
}	

@media (min-width: 362px) and (max-width: 561.98px) {
	.db-row {
        width: 100%;
        margin-bottom: 25px;
        padding-right: 25px;
    }
    .admin-notify-icon {
	    position: absolute;
	    right: 100px;
	    width: 32px;
	    height: 32px;
	}
	.admin-avatar {
	    position: absolute;
	    right: 40px;
	    width: 45px;
	    height: 45px;
	}
    .admin-infor {
	    display: none;
	}
	.admin-search-form {
		display: none;
	}
	.navigation {
		display: none;
	}
}

@media (min-width: 562px) and (max-width: 799.98px) {
  	.db-row {
        width: 100%;
        margin-bottom: 25px;
        padding-right: 25px;
    }
    .admin-notify-icon {
	    position: absolute;
	    right: 100px;
	    width: 32px;
	    height: 32px;
	}
	.admin-avatar {
	    position: absolute;
	    right: 40px;
	    width: 45px;
	    height: 45px;
	}
    .admin-infor {
	    display: none;
	}
}

@media (min-width: 800px) and (max-width: 1349.98px) {
    .db-row {
        display: flex;
        width: 100%;
        margin-bottom: 25px;
    }
}
@media (min-width: 1350px) {
    .dashboard-table{
	    display: flex;
		margin-top: 12px;
	}
    .db-row {
        display: flex;
        width: 50%;
    }
}




@media (max-width: 575.98px) {
  
}
/* #######################################       START           ########################################################################*/
/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
  
}
/* #######################################       END           ########################################################################*/
/* // Medium devices (tablets, 768px and up) */




/* #######################################       START           ########################################################################*/
@media (min-width: 768px) and (max-width: 991.98px) {

}
/* #######################################       END           ########################################################################*/






/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
 
}





/* #######################################       START           ########################################################################*/
/* // X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) and (max-width: 1399.98px) {
 
}