.add-to-cart-modal {
    display: flex;
    float: right;
    width: 33%;
}

.add-to-cart-content {
	padding: 0 !important;
	align-items: inherit;
}

.buy-now a {
	font-weight: bold;
}
.add-to-cart-footer, .add-to-cart-header {
 	width: 100%;
 	border: 0px !important;
}
.continue-shopping, .checkout {
	width: 50%;
	
}
.continue-shopping button, .checkout button{
	width: 100%;
	font-weight: bold !important;
}
.close-add-to-cart:focus {
	outline-style: none;
}
.total-money-add-to-cart, .list-product-cart_ {
	width: 100%;
	display: flex;
}

.total-money-add-to-cart .total {
	float: right;
	font-size: 18px;
	color: #ff6200;
	font-weight: bold;
}
.thumbnail-modal {
	width: 25%;
}
.thumbnail-modal img{
	width: 100%;
}
.total-money-add-to-cart p{
	margin: 0 !important;
}
.total-money-add-to-cart {
	margin-top: 50px;
}
.total-money-add-to-cart table {
	width: 100%;
}
.total-money-add-to-cart table td{
	width: 50%;
}

.total-money-add-to-cart table td.total{
	float: right;
}