.title-page {
    margin-top: 20px;
    margin-left: 8%;
    text-shadow: 1px 2px 5px #0086ff;
}
h3 {
    font-weight: bold;
}
.title-page span {
    text-shadow: 1px 2px 5px #0086ff;
}
.title-page span a {
    color: white;
    text-decoration: none;
}
.info-contact {
    display: flex;
    margin-left: 8%;
    margin-top: 20px;
    width: 92%;
}
.address-contact,
.phone-contact,
.mail-contact {
    display: flex;
    margin-right: 35px;
    width: 28.7%;
    height: 70px;
    border-radius: 5px;
    background-color: #323C42;
}
.map-contact {
  
    width: 29.5%;
    height: 420px;
    border-radius: 5px;
    background-color: #323C42;
}
.customer-contact {
    margin-right: 35px;
    width: 70.5%;
    height: 70px;
    border-radius: 5px;
}
.icon-contact {
    margin-top: 10px;
    margin-left: 20px;
    width: 50px;
    height: 50px;
    border-radius: 30px;
    background-color: white;
}
.icon-contact img{
    margin-top: 9px;
    margin-left: 9px;
    width: 32px;
    height: 32px;
}
.content-contact {
    margin-top: 15px;
    margin-left: 10px;
    font-size: 14px;
}
iframe {
    width: 100%;
    height: 420px;
    border-radius: 5px;
}
.line-address input {
    margin-top: 10px;
    height: 36px;
    width: 100%;
    font-size: 16px;
    border: 0;
    border-left: 2px solid #eb3e32;
    padding-left: 10px;
}
.line-address input:focus {
    outline-style: none;
}
em {
    color: red;
}
.customer-info {
    width: 100%;
    display: flex;
}
.customer-name,
.customer-mail{
    width: 42%;
    margin-left: 35px;
}
div.content-question {
    margin-left: 35px;
    margin-top: 20px;
    width: 88%;
}

textarea.content-question {
    width: 100%;
    min-height: 295px;
    max-height: 295px;
    padding: 5px 10px 5px 10px;
    border: 0;
    border-left: 2px solid #eb3e32;
}
textarea.content-question:focus {
    outline-style: none;
}
.txt-ques {
    margin-top: 10px;
}

.send {
    margin-top: 20px;
    text-align: right;
    margin-right: 125px;
    padding-bottom: 10px;
}

.send button{
    width: 100px;
    height: 36px;
    border: 0;
    border-radius: 5px;
    font-size: 17px;
    font-weight: bold;
    color: #0086ff;
    background-color: white;
    box-shadow: 2px 2px  #0086ff;
    cursor: pointer;
}

.send button:focus {
    outline-style: none;
}
   