body {
    background: linear-gradient(to right, #0c1022 0%, #ffccff 100%);
    color: white;
    padding-top: 0px;
    margin-top: 0px;
}
.nav {
    padding: 0;
    border: 0;
    width: 100%;
    height: 60px;
    background-color: #0c1022;
}
.checkout,
nav {
    display: flex;
}
.customer-info {
    margin-left: 4%;
    margin-top: 80px;
    width: 62.6%;
    border-right: 1px solid white;
    height: 500px;
    color: white;
}
.order {
    text-align: center;
    margin-top: 80px;
    width: 33.3%;
    border-right: 1px solid white;
    height: 500px;
    color: white;
}
.checkout h4 {
    margin-top: -45px !important;
    padding-bottom: 10px;
}

.back {
    margin-left: 30px;
    color: white;
    width: 20%;
    height: 60px;
    display: flex;
    align-items: center;
    font-size: 25px;
    font-weight: bold;
}
.back a {
    text-decoration: none;
    color: white;
    margin-left: 10px;
}
.back a img {
    width: 48px;
}
.back a:hover {
    text-decoration: none;
    color: #0086ff;
    text-shadow: 1px 2px 2px #0086ff;
}
.avt {
    width: 15.5%;
    text-align: right;
    margin-top: 15px;
}
.avt img {
    width: 80px;
    height: 80px;
    border-radius: 50px;
}
.login {
    width: 46%;
    text-align: right;
}
button.icon-user {
    background-color: #0c1022;
    border: 0;
    padding: 0;
    width: 0;
    height: 0;
    margin-top: 30px;
}
button.icon-user:focus {
    outline-style: none;
    border: 0;
    padding: 0;
}
img.icon-user {
    margin-top: -30px;
    margin-left: -25px;
}
img.icon-user:hover {
    box-shadow: 1px 2px 3px #0086ff;
    border-radius: 10px;
}

.products-checkout {
    text-align: left;
    width: 85%;
    max-height: 200px;
    margin-left: 7%;
    border: 1px solid white;
    margin-top: 20px;
    border-radius: 5px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.products-checkout img {
    height: 100%;
    border-radius: 5px 0 0 5px;
}
.name-product-checkout {
    display: flex;
    width: 55%;
    height: 100%;
    margin-left: 10px;
    font-size: 18px;
    align-items: center;
    
}
.price-product-checkout {
    display: flex;
    height: 100%;
    font-size: 18px;
    text-align: left;
    align-items: center;
}

hr {
    width: 85%;
    margin-left: 7%;
    height: 2px;
    background-color: white;
}
table{
    text-align: left;
    width: 85%;
    margin-left: 7%;
    font-size: 18px;
}
td.price {
    text-align: right;
    float: right;
}
span.txt-total-payment,span.total-payment {
    font-size: 20px;
    font-weight: bold;
}
span.total-payment {
    color: #ff6200;
}

.request-product-checkout {
    width: 85%;
    margin-left: 7%;
}

.list_prod_checkout table {
	margin-left: 10px;
	width: 70% !important;	
}
.img-product-checkout {
	display: flex;
    width: 25%;
    background: #f1f1f1;
    justify-content: center;
}

input#input_Id1 {
    border: 0;
    background: none;
}
.amount-checkout,.size-checkout{
    margin-top: 10px;
    display: flex;
}
.color-checkout {
    margin-top: 15px;
    display: flex;
    width: 100%;
}

.list-product-order {
    margin-top: 10px;
    width: 84%;
    max-height: 50%;
    overflow-y: scroll;
    box-shadow: 0px 1px 0px #0086ff;
    margin-left: 7%;
    border-radius: 5px;
}
.list-product-order::-webkit-scrollbar {
    width: 12px;
}

/* Track */
.list-product-order::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

/* Handle */
.list-product-order::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: #0086ff;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
.color {
   
    width: 100%;
}
.request-checkout {
    margin-top: 20px;
}
span.color-span {
    display: block;
    width: 36px;
    height: 36px;
    background-color: #0086ff;
    
    
}
.thank-you {
    display: flex;
    align-items: center;
}
.content-thank {
    margin-left: 20px;
}
.info-customer-left {
    width: 100%;
    margin-top: 10px;
}
table.table-info-customer td {
    padding: 5px 0;
    font-size: 16px;
}
table.table-info-customer th {
    padding: 30px 0 10px 0;
}
.continue-shopping {
    margin-left: 7%;
    width: 84%;
    text-align: center;
    margin-top: 40px;
}
.continue-shopping input{
    width: 50%;
    height: 40px;
    background: none;
    border-radius: 10px;
    border: 2px solid white;
    color: white;
    font-weight: bold;
    font-size: 18px;
    box-shadow: 1px 1px 5px #0086ff;
}
.continue-shopping input:hover{
    background-color: #0086ff;
}