body {
	background: linear-gradient(to right, #0c1022 0%, #ffcccc 100%);
	color: white;
	padding-top: 0px;
	margin-top: 0px;
	overflow-x: hidden;
}

.nav {
	padding: 0;
	border: 0;
	width: 100%;
	height: 60px;
	background-color: #0c1022;
}

.checkout, nav {
	display: flex;
}

.order {
	text-align: center;
	width: 42%;
	color: black;
	background: #f9e1ee;
	padding-bottom: 50px;
}

.customer-info {
	width: 60%;
	color: black;
	background: white;
	padding-bottom: 50px;
}

input.minus-plus:hover {
	cursor: pointer !important;
}

.back {
	margin-left: 30px;
	color: white;
	width: 20%;
	height: 60px;
	display: flex;
	align-items: center;
	font-size: 25px;
	font-weight: bold;
}

.back a {
	text-decoration: none;
	color: white;
	margin-left: 10px;
}

.back a img {
	width: 48px;
}

.back a:hover {
	text-decoration: none;
	color: #cb82a9;
	text-shadow: 1px 2px 2px #f9e1ee;
}


.avt img {
	width: 100px;
	height: 100px;
}

.login {
	width: 40%;
	text-align: right;
}

button.icon-user {
	background-color: #0c1022;
	border: 0;
	padding: 0;
	width: 0;
	height: 0;
	margin-top: 30px;
}

button.icon-user:focus {
	outline-style: none;
	border: 0;
	padding: 0;
}

img.icon-user {
	margin-top: -30px;
	margin-left: -25px;
}

img.icon-user:hover {
	box-shadow: 1px 2px 3px #0086ff;
	border-radius: 10px;
}

input::placeholder, textarea::placeholder {
	color: gray;
	opacity: 1; /* Firefox */
}

input {
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
    height: 50px;
    border-radius: 8px;
    padding-bottom: 4px;
}

textarea {
    padding-left: 10px;
    padding-top: 5px;
    min-width: 100%;
    max-width: 100%;
    max-height: 120px;
    min-height: 120px;
    border-radius: 8px;
    font-size: 18px !important;
}

input[type='text'] {
	font-size: 20px;
}

.village-customer, .town-customer, .city-customer, .mail-customer,
	.phone-customer, .name-customer, .note-customer {
	margin-top: 20px;
	margin-left: 10%;
	width: 80%;
	margin-bottom: 30px;
	margin-right: 10%;
	display: flex;
	justify-content: space-between;
}

.village-customer input, .town-customer input, .city-customer input,
	.mail-customer input, .phone-customer input, .name-customer input,
	.note-customer textarea {
	border: 1px solid black;
	border-left: 3px solid #cb82a9;
}

.village-customer input:focus, .town-customer input:focus,
	.city-customer input:focus, .mail-customer input:focus, .phone-customer input:focus,
	.name-customer input:focus, .note-customer textarea:focus {
	outline-style: none;
}
.shipping {
    display: flex;
    align-items: center;
    width: 80%;
    height: 60px;
    border-radius: 8px;
    border: 1px solid #cb82a9;
    margin-left: 10%;
    margin-top: 20px;
    justify-content: space-between;
    padding: 20px;
}
.content-sm {
	display: flex;
	text-align: left;
	width: 80%;
    height: 70px;
    border: 1px solid #cb82a9;
    margin-left: 10%;
	border-top: 0;
	background-color: lightgray;
	border-radius: 0 0 8px 8px;
	padding: 0 20px 0 20px;
	align-items: center;
	color: #0c1022;
	visibility: visible;
}

.payment-method h4.pm {
	margin-top: 40px !important;
}

.shipping input {
	display: flex;
	text-align: left;
	float: left;
	height: 24px;
	width: 24px;
}

.content-pm {
	display: flex;
	text-align: left;
	width: 80%;
    height: 70px;
    border: 1px solid #cb82a9;
    margin-left: 10%;
	border-top: 0;
	background-color: lightgray;
	border-radius: 0 0 8px 8px;
	padding: 0 20px 0 20px;
	align-items: center;
	color: #0c1022;
	visibility: hidden;
}

.content-bank {
    text-align: left;
    width: 80%;
    height: 70px;
    border: 1px solid #cb82a9;
    margin-left: 10%;
    border-top: 0;
    background-color: lightgray;
    border-radius: 0 0 8px 8px;
    padding: 0 10px 0 10px;
    align-items: center;
    color: #0c1022;
    visibility: hidden;
}

.bank img {
	height: 40px;
	margin-left: 5px;
}

.icon-credit img {
	margin-left: 85px;
	height: 40px;
}

.icon-cod img {
	margin-left: 20px;
	height: 40px;
}

#radio3 {
    margin-top: 24px;
}

.bank {
	display: flex;
}

.products-checkout {
    display: flex;
    text-align: left;
    width: 80%;
    height: 100px;
    margin-left: 10%;
    border: 1px solid #cb82a9;
    margin-top: 20px;
    border-radius: 5px;
}
.products-checkout img {
	height: 100%;
	border-radius: 5px 0 0 5px;
}
.title-color p {
    margin-bottom: 4px;
}

.title-color {
    text-align: left;
}
.name-product-checkout {
	display: flex;
	width: 69%;
	height: 100%;
	margin-left: 10px;
	font-size: 18px;
	align-items: center;
}

.price-product-checkout {
	display: flex;
	height: 100%;
	font-size: 18px;
	text-align: left;
	align-items: center;
	color: #ff6200;
	font-weight: 500;
}

.voucher {
	display: flex;
	text-align: left;
	width: 80%;
	margin-left: 10%;
	margin-top: 20px;
}

.input-voucher input {
	border-left: 3px solid #0086ff;
}

.input-voucher input:focus {
	outline-style: none;
}

.input-voucher {
	width: 75%;
}

.input-voucher input {
	width: 95%;
}

.apply-voucher {
	width: 25%;
}

.apply-voucher input {
	padding: 0px;
	width: 100%;
	border: 0px;
	font-weight: bold;
	color: #0086ff;
	font-size: 16px;
	box-shadow: 1px 2px 3px #0086ff;
	
}

.apply-voucher input:hover {
	cursor: pointer !important;
}

hr {
	width: 85%;
	margin-left: 7%;
	height: 2px;
	background-color: white;
}

.calculator table {
    text-align: left;
    width: 80%;
    margin-left: 10%;
    font-size: 18px;
}

td.price {
	text-align: right;
	float: right;
}

td.price-free {
	text-align: right;
	float: right;
	color: #ff6200;
}

span.txt-total-payment, span.total-payment {
	font-size: 20px;
	font-weight: bold;
}

span.total-payment {
	color: #ff6200;
}

.btn-order {
	width: 28%;
	margin-top: 20px;
	float: right;
	margin-right: 3%;
}

.btn-order input:focus {
	outline-style: none;
}

.btn-order input {
	width: 100%;
	border: 0px;
	font-weight: bold;
	color: #0086ff;
	font-size: 20px;
	box-shadow: 1px 2px 3px #0086ff;
}

.btn-order input:hover {
	cursor: pointer !important;
}

.request-product-checkout {
    width: 80%;
    margin-left: 10%;
}

input#input_Id1, input#plus1, input#minus1 {
	text-align: center;
	padding: 0;
}

input#input_Id1 {
	background: none;
}

input#input_Id1:focus {
	outline-style: none;
}

.amount-checkout, .size-checkout {
	margin-top: 30px;
	display: flex;
}

.color-checkout {
	margin-top: 15px;
	display: flex;
}

p.error-name {
	width: 68%;
	display: flex;
	float: left;
	margin-left: 18%;
	padding: 0;
	color: red;
	margin-top: 5px;
	font-size: 17px;
	margin-bottom: 10px;
}

.checkout h4 {
    margin-top: 40px;
    margin-left: 10%;
    margin-right: 10%;
}

.avt img {
	width: 70px;
	height: 70px;
	border-radius: 100px;
	margin-top: 20px;
}

.bank img {
	height: 50px;
	margin-left: 5px;
}

.content-bank {
	height: 80px;
}

#radio2:hover {
	cursor: pointer;
}

#radio3:hover {
	cursor: pointer;
}


#firstname, #lastname {
	width: 49%;
}
#address {
	width: 49%;
}
.city-customer select {
    border-radius: 7px;
    border: 1px solid black;
    border-left: 3px solid #cb82a9;
    padding: 0 10px;
    width: 23%;
}

input#district {
    width: 23%;
}
input#city {
    width: 23%;
}
.btn-effect button {
	min-width: 111px !important;
    background: gray !important;
	background-clip: content-box !important;
}
.btn-effect button:hover {
	background: #222121 !important;
	background-clip: content-box !important;
}


.btn-order-effect button {
	display: inline-block;
	font-family: Josefin Sans;
	font-weight: 700;
	font-size: 16px;
	letter-spacing: 1.32px;
	color: #fff;
	background: #cb82a9;
	background-clip: content-box;
	border: 1px solid #cb82a9;
	height: 50px;
	line-height: 37px;
	padding: 5px;
	min-width: 300px;
	text-align: center;
	position: relative;
	text-transform: uppercase;
	-webkit-transition: all .25s ease-out;
	-moz-transition: all .25s ease-out;
	-ms-transition: all .25s ease-out;
	transition: all .25s ease-out;
}
.btn-order-effect {
	display: inline-block;
}
.btn-order-effect {
    margin-left: 20px;
}
.btn-order-effect {
  --c: #cb82a9; /* the border color */
  --b: 3px;    /* the border thickness*/
  --g: 0px;     /* the gap on hover */
  
  padding: calc(var(--g) + var(--b));
  --_g: #0000 25%,var(--c) 0;
  background: 
    conic-gradient(from 180deg at top    var(--b) right var(--b),var(--_g))
     var(--_i,200%) 0  /200% var(--_i,var(--b))  no-repeat,
    conic-gradient(            at bottom var(--b) left  var(--b),var(--_g))
     0   var(--_i,200%)/var(--_i,var(--b)) 200%  no-repeat;
  transition: .3s, background-position .3s .3s;
  cursor: pointer;
  height: 56px;
}

.btn-order-effect:hover {
  --_i: 100%;
  transition: .3s, background-size .3s .3s;
}
.btn-order-effect button:focus {
	outline-style: none;
}
