.none {
	display: none;
}

button.icon-user-login {
	background: none !important;
	border: 0 !important;
}

button.icon-user-login:focus {
	outline-style: none !important;
}


img.icon-user-login {
	margin-top: 0 !important;
	margin-left: 0 !important;
	width: 40px;
	height: 40px;
	border-radius: 20px;
}

img.icon-user-login:hover {
	border-radius: 20px;
	box-shadow: 2px 4px 6px #0086ff;
}

a.dropdown-item {
	color: #0086ff;
}

.dropdown-item:hover {
	color: white !important;
	background: #0086ff;
}

.dropdown-menu {
	margin-left: -120px;
	margin-top: 23px;
}

.img-dropdown-menu {
	position: absolute;
	margin-top: 8px;
	z-index: 1001;
}

.img-dropdown-menu img {
	width: 18px;
	height: 18px;
	margin-left: 10px;
	z-index: 1001;
}

::-webkit-scrollbar {
  width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: lightgrey; 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #0086FF; 
}
a:hover {
    color: #0086ff !important;
}
.buy-now a:hover {
    color: white !important;
}
.dropdown-item:hover {
    color: white !important;
    background: #0086ff;
}
.wrapper-wel {
    position: absolute;
    display: flex;
    width: 100%;
    height: 100%;
    z-index: 1000;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.welcome {
    background: white;
    color: #0086ff;
    padding: 20px;
    font-weight: bold !important;
    z-index: 1000;
    border-radius: 12px;
}
.none {
	display:none;
}

.search-link-icon:hover {
	cursor: pointer;}
.search-link-icon:focus {
	outline-style: none;
}
.search-link-icon {
	background: none;
}
.ok-btn button:hover {
	border: 1px solid pink;
    background: #0096ff;
    color: white;
    cursor: pointer;
}
.ok-btn button:focus {
	outline-style: none; 
}
.ok-btn button {
    padding: 5px 10px;
    width: 80px;
    border: 1px solid #0096ff;
    background: white;
    color: #0086ff;
    font-size: 18px;
    font-weight: bold;
    border-radius: 4px;
}
.error-login {
	margin-top: 5px;
}
.error-login p {
    font-size: 14px;
    color: red;
    text-align: center;
}
.importantNone {
	display: none !important;
}
.endow {
    width: 86%;
    display: flex;
    margin: 0 7%;
    margin-top: 10px;
    justify-content: space-between;
}
.navigation-auto {
    position: absolute;
    display: flex;
    margin-left: calc(50% - 86px);
    margin-top: 460px;
}
.navigation-manual {
    position: absolute;
    margin-top: -40px;
    margin-left: calc(50% - 86px);
    display: flex;
}