.continue-shopping {
	margin-left: 2% !important;
	width: 84%;
	text-align: center;
	margin-top: 100px !important;
}
.img-prod {
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.products-checkout img {
    width: 100%;
    height: unset !important;
    border-radius: 5px 0 0 5px;
}
.customer-info {
	margin-left: 8% !important;
	margin-top: 80px;
	width: 53%;
	border-right: 1px solid white;
	height: 500px;
	color: white;
}

.avt {
	width: 10% !important;
	text-align: right;
	margin-top: 15px;
}

.order {
	text-align: center;
	margin-top: 80px;
	width: 39%;
	border-right: 1px solid white;
	height: 500px;
	color: white;
}

.list {
	width: 84%;
	margin-left: 7%;
	margin-top: 30px;
	overflow-y: scroll;
	max-height: 222px;
	scroll-padding-top: 10px;
}

.name-product-checkout {
	display: inline-grid !important;
	width: 65%;
}

.name-product-checkout p {
	margin: 0;
	font-size: 14px;
}

.price-product-checkout {
	display: flex;
	height: 100%;
	font-size: 20px !important;
}

.qty {
	float: right;
	margin-right: 5px;
	font-size: 14px;
	font-style: italic;
}

.list::-webkit-scrollbar {
	width: 15px;
}
/* Track */
.list::-webkit-scrollbar-track {
	border-radius: 10px;
}
.list::-webkit-scrollbar-track:hover {
	  box-shadow: inset 0 0 5px grey; 
}

/* Handle */
.list::-webkit-scrollbar-thumb {
	background: gray;
	border-radius: 10px;
}

/* Handle on hover */
.list::-webkit-scrollbar-thumb:hover {
	background: #0086ff;
}