.title-page {
    margin-top: 30px;
    margin-left: 8%;
    text-shadow: 1px 2px 5px #0086ff;
}

h3 {
    font-weight: bold;
}

.title-page span {
    text-shadow: 1px 2px 5px #0086ff;
}

.title-page span a {
    color: white;
    text-decoration: none;
}

.list-order {
    margin-left: 8%;
    margin-top: 20px;
    margin-right: 8%;
    border: 1px solid white;
    background-color: white;
    color: black;
    border-radius: 20px;
    margin-bottom: 30px;
}

.order-form-hearder {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.order-form-hearder p {
    margin: 0 !important;
    font-size: 15px;
}

.order-form {
    margin-left: 7%;
    margin-top: 20px;
    margin-right: 7%;
    margin-bottom: 20px;
}

.order-form-status-text {
    display: flex;
    width: 105%;
    margin-left: -2.5%;
    justify-content: space-between;
}

.order-form-status {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-top: 50px;
}


.dot span {
    display: flex;
    background: blue;
    width: 36px;
    height: 36px;
    border-radius: 50px;
    justify-content: center;
    align-items: center;
}

.dot img {
    width: 26px;
    height: 26px;
}

.strike-dot {
    margin: 16.5px -3px;
    display: flex;
    width: 28.5%;
    height: 5px;
    color: blue;
    background-color: blue;
}

.strike-dot-sub-left {
    margin: 16.5px -3px;
    display: flex;
    width: 16.25%;
    height: 5px;
    background-color: blue;
}

.strike-dot-sub-right {
    margin: 16.5px -3px;
    display: flex;
    width: 12%;
    height: 5px;
    background-color: gray;
}

.order-code h5 {
    padding: 0;
    margin: 0;
}

.order-code span {
    color: purple;
    font-weight: bold;
}

.being {
    border: 3.3px solid white;
    width: 17px !important;
    height: 17px !important;
}
.order-infor p {
    color: purple;
    font-weight: bold;
    font-size: 18px;
}
.order-list-product {
    border: 1px solid purple;
    height: 150px;
    margin-left: 7%;
    margin-right: 7%;
    margin-bottom: 30px;
    border-radius: 10px;
}

.product-ele {
    display: flex;
    margin: 10px;
    height: 130px;
}

.product-ele img {
    display: flex;
    height: 100%;
    border-radius: 5px;
}

.title {
    display: flex;
    align-items: center;
    margin-left: 20px;
    width: 100%;
}

.title h5,
.title p {
    padding: 0;
    margin: 0;
}

.form-prod-col2 {
    width: 100%;
}
.form-prod-col3 h5{
    color: #ff6200;
    font-weight: bold !important;
}

.form-prod-col3 p{
    font-style: italic;
}
.form-prod-col3 {
    height: 100%;
}
.row1 p {
    float: right;
    font-size: 14px;
}
.row2 {
    display: flex;
    height: 100%;
    align-items: center;
}